* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 5vw;

       
    }

    h2 {
        font-size: 3em;
       
    }

    .card-title {
        margin: 0;
    }

    .container {
        min-width: 100%;
        
    }

    li { 
        font-size: 2em;
    }

    .nav-link {
        color:black;
        text-decoration: none;
        transition: text-decoration 0.5s ease, color 0.3s ease;
        
    }

    .nav-link:hover {
        text-decoration: underline;
        color:#5cb85c;    
        
    }
   
    p {
        margin: 0;
    }

    .card-body {
        background-color: rgb(139, 178, 255);
    }


    .form-col-2 {
        background-color: #5cb85c;
    }

    .custom-row-2 {
        margin-top: 0;
    }

    .card-img-bottom {
        border-radius: 0 0 90px 0
    }

    
    .form-check-input:checked {
        background-color: #5cb85c;
        border-color: #5cb85c;
    }

    .btn {
        --bs-btn-bg: rgb(0, 0, 0);
        --bs-btn-hover-color: rgb(0, 0, 0);
        font-size: 1.5em;
        border-radius: 0;
        transition: background-color 0.3s ease, border-radius 0.3s ease;
        
    }

    .btn-primary:hover {
        background-color: #5cb85c;
        border-radius: 0 30px 0 30px;
        
        
    }

    .form-control {
        background-color: aliceblue;
        border-radius: var(--bs-border-radius-0);
        border-color: rgb(0, 0, 0);
        border-width: 1px;

    }

    .input-group-text {
        border-radius: var(--bs-border-radius-0);
        
    }

    .form-select {
        background-color: aliceblue;
        border-radius: var(--bs-border-radius-0);
        border-color: rgb(0, 0, 0);
        border-width: 1px;
    }

  
   .oval-half-red {
    width: 20vw;
    height: 8vw;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
}


.separador {
    display: flex;
    flex-direction: row;
}

.bi-cloud-download:hover{
    transform: scale(1.2);
}

.bi-cloud-download{
    transition: transform 0.3s;
}

.underline-card-title {
    text-decoration: none;
    transition: text-decoration 0.5s ease;
}

.underline-card-title:hover {
    text-decoration: underline;
    
}

.progress {
    font-size: 1.5em;
    border-radius: 0;
    background-color: aliceblue;
}
.progress-bar {
    background-color: #5cb85c;
}

.btn-primary {
    --bs-btn-active-bg: rgb(139, 178, 255);

}

.card {
    border-radius: 0 30px 0 30px;
    background-color: #5cb85c;
}

.hoja-col-1, .firmas-col {
    background-color: rgb(139, 178, 255);
}



    
    