* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }

    img {
        width: 100%;
        vertical-align: middle;
         
    }


     @font-face {
        font-family: 'Unbounded';
        src: url('css/Unbounded.ttf') format('truetype');
       } 
      


   
h2, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

   
/* h2, h1, h5 {
    font-family: Arial, Helvetica, sans-serif;
} */

h1{
    font-family: 'Unbounded';
    font-size: 6vw;
text-decoration: none; 

}

h2{
    font-size: 4vw;
    margin-top: 20px;
}



p {
 font-size: 1.1vw;
 font-family: Arial, Helvetica, sans-serif;
 line-height: 25px;
 text-transform: undercase;
 text-align: justify;
}




   .fs-1 {
    text-transform: uppercase;
   } 



    .img-fluid {
        border-radius: 0 80px 0 0;
    }

    .img-fluid1 {
        border-radius: 0 0 0 80px;
    }

    .card { 
        border: 0;
    }



.container {
    min-width: 100%;
}

.custom-row-1 {
    min-height: auto;
    margin-bottom: 20px;
    margin-top: 0;
}

.image-card {
    padding: 15px 0 0 0;
}

.card-title {
    margin: 0;
}



.col-md-6.columna1 {
    background-color: rgb(139, 178, 255);
}

.col-md-6.columna2 {
    padding-left: 0;
    padding-right: 0;
}


.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}


.separador {
    display: flex;
    flex-direction: row;
}

.oval-half-red {
    width: 20vw;
    height: 8vw;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
}


.accordion {
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-focus-border: 0;
    --bs-accordion-btn-focus-box-shadow: 0:
}

.accordion-button.p-5 {
   
    text-align: center;
}

.accordion-button.p-5 > p {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-transform: undercase;
    display: flex;
    align-items: center;
}

.accordion-button.p-5 > p > i {
    margin-right: 20px;
    font-size: 1.5em;
}

.accordion-body {
    justify-content: center;
    display: flex;
}

.accordion-body > p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-transform: undercase;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 38vw;

}


.custom-row-2 {
    min-height: auto;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 0;
}

.col-md-6.columna4 {
    background-color:  #5cb85c;
    border-radius: 0 0 0 80px;
}

 .col-md-6.columna4 > div > p {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left:2em;
    margin-right:2em;
}

.accordion-button:not(.collapsed) {
    background-color: none;
    color: inherit;
}

.accordion-item {
    border-width: 3px;
    border-color:rgb(139, 178, 255);
    margin-top: 0;
    padding-top: 0;
}

p {
    margin: 0;
}

.nav-link {
    color:black;
    text-decoration: none;
    transition: text-decoration 0.5s ease, color 0.3s ease;
    
}

.nav-link:hover {
    text-decoration: underline;
    color:#5cb85c;    
    
}


/* TÃTULO */
:root {
    --azul-color: rgba(139, 178, 255);
    --medio-color: rgba(141, 192, 158);
    --verde-color: rgba(92, 148, 92);
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-ul {
    font-family: 'Unbounded';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: -0.05em;
  }
  
  .nav-li {
    position: relative;
    line-height: 0.76471;
  }
  
  .nav-li + .nav-li {
    margin-top: 1rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav-a {
    display: inline-block;
    position: relative;
    transition: 0.4s linear color;
  }
  
  .nav-a-letters {
    display: flex;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-a > * {
      pointer-events: none;
    }
  }
  
  .nav-a-stripe {
    position: absolute;
    background-color: var(--verde-color);
    width: calc(100% + 0.075em);
    left: 0;
    top: 0.5em;
    height: 0.115em;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0, 1);
  }
  
  .nav-a-stripe--yellow {
    background-color: var(--azul-color);
    transition-delay: 0.1s;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-a:hover .nav-a-stripe {
      transform-origin: left;
      transform: scaleX(1);
    }
    .nav-a:hover .nav-a-stripe--azul {
      transition-delay: 0s;
    }
  }
  
  .nav-a-stripe--medio {
    background-color: var(--medio-color);
    transition-delay: 50ms;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-a:hover .nav-a-stripe--medio {
      transition-delay: 50ms;
    }
    .nav-a:hover .nav-a-stripe--verde {
      transition-delay: 0.1s;
    }
  }
  
  .nav-a-letters-top {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .nav-a-letter {
    display: block;
    will-change: transform, opacity;
  }
  
  .nav-a-letters .nav-a-letter:nth-child(2n) {
    opacity: 0;
  }
  
  .nav-a-letters-top .nav-a-letter:nth-child(2n + 1) {
    opacity: 0 !important;
  }