* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }

    img {
        width: 100%;
        vertical-align: middle;
         
    }


   
h2, h1, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 10vw;
text-decoration: underline; 

}

h2{
    font-size: 3em;
}



p {
 font-size: 1.5em;
 font-family: Arial, Helvetica, sans-serif;
 line-height: 25px;
 text-transform: uppercase;
 text-align: justify;
}
    
[class*=btn-primary] {
    border: 0;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 0 ;
        font-size: 2em;
        transition: text-decoration 1s;
        margin-bottom: 20px;
    
     
    }

    .btn-primary:hover {
        text-decoration: underline;
        border-radius: 5px;
    }

    .card-img-overlay {
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }

    .img-fluid {
        border-radius: 0 0 80px 0;
    }

    .img-fluid1 {
        border-radius: 0 0 0 80px;
    }

    .card { 
        border: 0;
        
    
    }

    .card-title {
        text-align: center;
        
    }

   

    .card-title:hover {
    text-decoration: underline;
    color: #0d6efd;
    }


.container {
    min-width: 100%;
}

.custom-row-1 {
    min-height: auto;
    margin-bottom: 20px;
    margin-top: 20px;

}

.image-card {
    padding: 15px 0 0 0;
}

   
    
    
    
    